#root {

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  min-height: 100vh;
  background: 
    linear-gradient(to top, rgba(255,255,255,0) 0%, rgb(0, 0, 0) 60%),
    url("/src/photos/map.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  color: #ffffff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  padding: 0 10px 0 0;
}

.graybutton {
  padding: 10px 15px;
  background-color: gray;
  margin-right: 10px;
}

.purplebutton {
  padding: 10px 15px;
  background-color: rgb(128, 128, 128);
  margin-right: 10px;
}

.round-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #020202;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.polaroid {
  background: white;
  padding: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
  text-align: center;
  width: 200px;
}

.scroll-gallery {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem;
  scroll-snap-type: x mandatory;
}

.scroll-gallery img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  scroll-snap-align: center;
  flex-shrink: 0;
  transition: transform 0.3s;
}

.scroll-gallery img:hover {
  transform: scale(1.05);
}

.login {
  width: 400px;
  background-color: #00000000;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}
.login h1 {
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}
.login form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.login form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #a232d6;
  color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}
.login form input[type="submit"] {
  width: 100%;
  padding: 15px;
 margin-top: 20px;
  background-color: #a232d6;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
background-color: #2868c7;
  transition: background-color 0.2s;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  text-align: center;
}