#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
background: #d8d1d1;
color: #000000;
min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #e6eef8;
  padding: 0 10px 0 0;
}

.graybutton {
  padding: 10px 15px;
  background-color: gray;
  margin-right: 10px;
}

.purplebutton {
  padding: 10px 15px;
  background-color: rgb(210, 217, 253);
  margin-right: 10px;
}